<p> Если вы желаете сравнить тарифы Мегафон, то можете воспользоваться специальной формой, представленной на этой странице. MyTarifs охватывает все существующие на сегодня тарифные планы в гибком ценовом диапазоне. У нас всегда есть выгодные предложения, рассчитанные на физических лиц и корпоративных клиентов. </p>
<p> Чтобы выполнить сравнение тарифов Мегафон, подберите 2-3 наиболее приемлемых и отметьте их в таблице. После этого наша система обработает информацию и выдаст сравнительную таблицу с подробным описанием каждого тарифа. В частности, пользователю будет доступна информация о стоимости минуты разговора по разным направлениям, условия подключения и размер абонентской платы. </p>

<%= image_tag("megafon_with_name.png", alt: "Мегафон", class: "center-block img-responsive", style: ";") %>

<p> Кроме этого, вы можете сравнить тарифы Мегафон, предлагающие пользователям пакеты бесплатных минут внутри сети и роуминге, СМС-сообщений и Интернета. Весь функционал для вас доступен абсолютно бесплатно. Более того, если у вас возникнут какие-то трудности, то мы незамедлительно придем на помощь. </p>
<p> Сравнение тарифов Мегафон позволит вам пользоваться качественной связью без переплат, где бы вы не находились! При этом сама процедура займет у вас всего лишь несколько минут! </p>
