<p> MyTarifs позволяет сравнить тарифы МТС между собой с целью выявления наиболее выгодного под ваши потребности. Наша база охватывает все актуальные на сегодня тарифные планы и регулярно обновляется. </p>
<p> Сравнение тарифов от МТС реализовано с помощью удобной формы. В зависимости от региона своего проживания, пользователь может выбрать тарифные предложения актуальные для конкретной области Российской Федерации. </p>

<%= image_tag("mts_with_name.png", alt: "МТС", class: "center-block img-responsive", style: ";") %>

<p> Также Вы всегда можете задать вопрос нашим опытным сотрудникам на сайте или по телефону. Они в свою очередь постараются дать максимально оперативный и квалифицированный ответ. </p>
<p> Отметим, что сравнить тарифы МТС с помощью нашего ресурса могут все желающие и абсолютно бесплатно! При минимальном количестве затраченных усилий вы сумеете найти оптимальный для себя вариант, который позволит существенно сэкономить на звонках как внутри сети, так и абонентам других операторов, а также заграницу. </p>
<p> К сравнению доступны все тарифы, в том числе безлимитные, и предложения, включающие в себя пакеты бесплатного трафика, текстовых сообщений или минут. </p>
