<p> Сервис MyTarifs предлагает сравнить тарифы ТЕЛЕ2, выявив все их преимущества и возможные недостатки. В нашей базе представлены все тарифные планы, которые актуальны на территории РФ, в том числе архивные. </p>
<p> Чтобы сравнить тарифы TELE2, достаточно заполнить интуитивно понятную форму. Слева необходимо ввести регион, справа будет несколько окон для ввода названия тарифных планов. </p>

<%= image_tag("tele2_with_name.png", alt: "TELE2", class: "center-block img-responsive", style: ";") %>

<p> В таблице будет отображена основная информация о стоимости звонков по всем направлениям, текстовых сообщений и Интернета. Одновременно можно осуществлять сравнение трех тарифов ТЕЛЕ2. </p>
<p> Пользование нашим сервисом абсолютно бесплатно и доступно физическим и юридическим лицам. После выбора какого-либо тарифного плана, абоненты могут подключить к нему дополнительные опции, направленные на минимизацию растрат на услуги связи. </p>
