<%
form_html_options = {:id =>form_item.filtr_name, :class => "form-inline", :turbolinks => true}
form_html_options = form_html_options.merge(html) if local_assigns[:html]

form_options = {:method => 'get', :remote => true, :authenticity_token => true}

form_options = form_options.merge(options) if local_assigns[:options]
form_options = form_options.merge(form_html_options)

%>

<% if form_item.caption %> 
  <legend><%= form_item.caption %></legend>
<% end %>

<% action_on_submit = form_options[:url] || form_item.action_on_submit %>
<%= form_tag(action_on_submit, form_options) do %>
  <% form_item.fields(form_item.filtr_name) do |label, field| %>
  <div class="form-group">
      <%= label %>
      <%= field %>
  </div>
  <% end %>
<% end %>


