<p>
	Мы предлагаем <strong>два способа</strong> моделирования использования мобильных услуг. 
	Какой способ больше подходит вам вы должны решить сами.
</p>
<p>
	<strong>Первый способ</strong> это использование детализации ваших звонков, полученной от вашего мобильного оператора.
	Вы загружаете детализацию к нам на сайт, мы ее анализируем и используем для подбора тарифа. 
	Для подбора тарифа используется только один месяц, который вы выберите при запуске подбора тарифа.
</p>
<p>
	<strong>Второй способ</strong> это моделирование услуг с помощью подбора параметров.
	Моделирование услуг позволяет подобрать желаемый способ использования мобильных услуг отдельно при нахождении
	в регионе подключения тарифа, в домашнем регионе, при путешествии по России и за границей. Для упрощения подбора параметров
	можно использовать стандартные модели поведения.
</p>


