<p>
	Подбор оптимального тарифа и набора тарифных опций проводится в три этапа.
</p>
<p>
	На <strong>первом этапе</strong> вы сообщаете нам, как вы обычно используете мобильные услуги. 
	То есть, как часто звоните, куда звоните, как используете смс, ммс и интернет дома, и находясь в роуминге.
	Указать как вы пользуетесь мобильными услугами, вы можете двумя способами: моделируя услуги, которыми планируете пользоваться, с помощью параметров, 
	или загрузив вашу детализацию звонков, полученную от вашего мобильного оператора
</p>
<p>
	На <strong>втором этапе</strong> вы можете ограничить набор услуг мобильного оператора, для которых хотите подобрать оптимальный тариф. 
	С помощью этой возможности вы можете оптимизировать использование мобильных услуг, если у вас несколько сим-карт.
</p>
<p>
	На <strong>третьем этапе</strong> проводится собственно подбор оптимального тарифа. Для вашей выбранной модели использования мобильных услуг,
	для каждой разрешенной комбинации тарифов и тарифных опций, и с учетом выбранного набора услуг оператора
	мы считаем, сколько будет стоить использование услуг за период (месяц). Оптимальным тарифом мы считаем тот тариф, у которого 
	стоимость использования минимальна.
</p>
<p>
	<strong>Результат подбора тарифов</strong> представляется в виде списка тарифов, упорядоченных по возрастанию стоимости использования.
</p>


