<p>
	<strong>Выбор ограниченного списка услуг</strong> мобильного оператора позволяет подобрать оптимальный тариф в случае,
	если вы планируете использовать тариф (или телефон) только для определенных целей. Это полезно, когда у вас несколько
	телефонов или телефон с двуми или тремя сим-картами. Выбор желаемых услуг можно сделать как для отдельных сервисов (звонки, смс, ммс и интернет),
	так и для различных вариантов роуминга. Также вы можете выбрать определенного оператора, на который будете звонить.
</p>


