<% title "Свод рейтингов тарифов мобильной связи #{region_and_privacy_tag}" %>
<% description "www.mytarifs.ru — сервис по подбору оптимальных тарифов и опций для мобильных операторов МТС, «Билайн», \
				«Мегафон», TELE2 #{region_and_privacy_tag}. Помогаем принять правильное решение! Предлагаем широкий выбор средств для анализа услуг \
				в области мобильной связи." %>
<% keywords "свод рейтингов тарифов и опций операторов мтс билайн мегафон tele2 услуги в области мобильной связи #{region_and_privacy_tag}" %>	
			
<% content_for :hide_title, 'true' %>
 
<section id="first" >
	<header>
	    <div class="header-content header-content-smaller">
	        <div class="inner">
	            <h1 class="cursive">Свод рейтингов тарифов для телефона и планшета <%= "#{region_and_privacy_tag}" %></h1>
	            <hr />
	        </div>
	        <%= render :partial => "application/shared/social_share_buttons" %>	        
	    </div>
	</header>


    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 text-center">
                <hr class="primary">
                <div class="h2 margin-top-0 text-success"> Выберите на кого вы похожи </div>
                <hr class="primary">
            </div>
        </div>

		<% accordion_page = session[:current_accordion_page].blank? ? 0 : session[:current_accordion_page]['ratings_accord'].to_i %>
		
		<%= render :partial => 'comparison/optimizations/ratings/ratings', :layout => 'application/layouts/accordion_landing', 
		           :locals => {:name => 'ratings_accord', :active => accordion_page} %>

    </div>
</section>
<p>Сервис MyTarifs создан для того, чтобы все желающие могли подобрать для своего телефона или планшета выгодный тариф для связи, исходя из своих потребностей и финансовых возможностей. Мы уделили огромное внимание подготовке базы тарифных планов и опций от крупнейших мобильных операторов, работающих на территории Российской Федерации. </p>
<p>Выбор тарифа для мобильного телефона можно осуществить, воспользовавшись нашим специальным фильтром. Достаточно указать объем желаемых бесплатных минут, количество текстовых сообщений SMS и примерный запланированный объем интернет-трафика. </p>
<p>У вас есть возможность подобрать оптимальный тариф мобильной связи, опцию или общую услугу от таких крупных операторов как МТС, Билайн, Мегафон и ТЕЛЕ2. Кроме того, для вас работают специалисты нашей службы технической поддержки, готовые ответить на все важные вопросы. </p>

<p>Сервис позволяет выбрать тарифные планы для звонков внутри сети, в страны СНГ, Европы, Канаду и США. Также у нас имеются лучшие предложения для тех, кто нуждается в постоянном высокоскоростном доступе к Сети интернет. </p>
<p>Очень полезной и популярной опцией является возможность сравнения нескольких услуг от МТС, Мегафон, Билайн и ТЕЛЕ2. Кроме этого, мы сформировали рейтинги по всем операторам, благодаря которым осуществляется реальная экономия без ограничений в общении. </p>
