<% title "Вопрос-ответ" %>
<% description "Вопрос-ответ. www.mytarifs.ru — сервис по подбору оптимальных тарифов и опций для мобильных операторов \
				МТС, «Билайн», «Мегафон», TELE2. Помогаем принять правильное решение! Предлагаем широкий выбор средств \
				для анализа услуг в области мобильной связи." %>	
<% keywords "вопрос ответ faq" %>
<% 
	set_meta_tags(canonical: content_questions_and_answers_url(hash_with_region_and_privacy({}, 'personal', 'moskva_i_oblast') )) if 
		content_questions_and_answers_path(hash_with_region_and_privacy({:trailing_slash => false}, 'personal', 'moskva_i_oblast') ) != request.path
 %>

<p><span style='font-weight:bold'>Среди каких тарифов выбирается оптимальный тариф?</span></p>

<p>Тарифы и опции выбираются среди всех доступных для подключения в момент подбора. 
	Есть возможность ограничить список тарифов и опций для подбора (с различными вариантами подбора можно ознакомиться в меню 
	или в описании). Представленные тарифы действительны только для Москвы и Московской области.
</p>

<p><span style='font-weight:bold'>Почему я не могу найти информацию об интересующем меня тарифе?</span></p>

<p>В настоящее время доступно описание тарифов и опций, которые мобильные операторы МТС, «Билайн», TELE2 и «Мегафон» 
	предлагают в Москве и Московской области. Нет архивных тарифов и опций, доступных для подключени до 2015 года. 
	Также отсутствует описание тарифов и опций, полученных после изменения цены в исходных тарифах/опциях 
	(например, тариф «Все включено» стал тарифом «Все включено 2015»).
</p>

<p><span style='font-weight:bold'>Я воспользовался сервисом по подбору тарифа, но экономии нет. Почему?</span></p>

<p>Существует несколько причин. Первая: вы стали потреблять больше мобильных услуг по сравнению с тем количеством, 
	на основании которого мы делали для вас подбор. Вторая: вы потребляете мобильные услуги, которых не было, 
	когда мы делали для вас прогноз. Чтобы самостоятельно провести детальный анализ, загрузите новую детализацию и 
	подберите для нее тариф. Для того чтобы подробный анализ осуществили мы, вышлите старую и новую детализации.
</p>

<%= render :partial => "application/shared/hypercomments" %>
