<% title t('.title') %>
<% noindex 'googlebot' %>

<p>
	<%	link_to_html = {:class => "btn btn-link", :type => 'button'} %>
</p>

<%= render :partial => 'form', :layout => 'application/layouts/model_form_for', :locals => {:form_item => controller.user_form } %>

<p>
	<%= link_to 'Профиль', user_path(controller.user), link_to_html %> |
	<%= link_to 'На главную страницу', root_with_region_and_privacy(m_privacy, m_region), link_to_html %>
	<%= link_to 'Список пользователей', users_path, link_to_html if user_type == :admin %>
</p>

