<% title "Список описаний подбора выгодного тарифа #{region_and_privacy_tag}" %>
<% description "Список описаний подбора выгодного тарифа для мобильных операторов МТС, «Билайн», «Мегафон», TELE2 #{region_and_privacy_tag}.\
				 www.mytarifs.ru — помогаем принять правильное решение! Предлагаем широкий выбор средств для анализа услуг \
				 в области мобильной связи." %>
<% keywords "список описаний подбора тарифа" %>	

<p>
<%= link_to( 'Начать новый подбор тарифа', result_detailed_calculations_new_path(hash_with_region_and_privacy), 
	{:class => "btn btn-success", :type => 'button', :rel => "nofollow"})  if controller.is_allowed_new_result_run? %>
<%= render :partial => 'result/runs/information/index' %>
</p>
<p>
<%= render(:partial => 'result/runs/admin/result_runs_select', :layout => 'application/layouts/filtr_form_n_columns', :locals => {:form_item => result_runs_select} ) if user_type == :admin %>
</p>
<%= render :partial => 'runs', :layout => 'application/layouts/model_table', :locals => {:table => controller.result_runs_table}%>

