<% if controller.is_user_calculating_now and controller.flash.blank? %>
	<div class="alert alert-warning alert-dismissible" role="alert">
	 	В настоящий момент мы продолжаем подбирать оптимальный тариф для вас				
	</div>
<% end %>

