<div class="row text-center">
	<%= link_to('Хотите получить 300 рублей от Теле2 на мобильный счет? ', "#", 
		{
			"data-link" => content_mobile_article_path(hash_with_region_and_privacy({:slug => "kak_poluchit_300_rublei_ot_tele2_na_mobilnyi_nomer")}), "rel" => "nofollow",
			:class => "external-link btn btn-warning btn-xl btn_text_always_on_screen", :type => "button", 
			:remote => false, :onclick => set_target("get_info_how_get_300_from_tele2")
		}) %>	
</div>
