<div class="ya-site-form1 ya-site-form_inited_no1" 
	onclick="yaCounter33344083.reachGoal('yandex_search_met'); return {'action':'http://mytarifs.ru/home/search','arrow':false,'bg':'transparent','fontsize':14,'fg':'#000000','language':'ru','logo':'rb','publicname':'Поиск по www.mytarifs.ru','suggest':true,'target':'_blank','tld':'ru','type':3,'usebigdictionary':true,'searchid':2268275,'input_fg':'#000000','input_bg':'#ffffff','input_fontStyle':'normal','input_fontWeight':'normal','input_placeholder':'введите запрос','input_placeholderColor':'#000000','input_borderColor':'#33ffff'}">
	
	<form class="form-horizontal" action="https://yandex.ru/search/site/" method="get" target="_blank"><input type="hidden" name="searchid" value="2268275"/><input type="hidden" name="l10n" value="ru"/>
		<div class="input-group ">
			<input type="hidden" name="reqenc" value=""/>
			<input class="form-control search_form" 
					style="height: 37.8333px !important;" 
					placeholder="поиск по сайту" 
					type="search" 
					name="text" 
					value=""/>
			<span class="input-group-btn">
				<button class="btn btn-default search_form" type="submit" style="height: 37.8333px !important;">
					<span class="glyphicon glyphicon-search"  aria-hidden="true"></span>
				</button>				
			</span>
		</div>
	</form>
</div>
	
<script type="text/javascript">(function(w,d,c){var s=d.createElement('script'),h=d.getElementsByTagName('script')[0],e=d.documentElement;if((' '+e.className+' ').indexOf(' ya-page_js_yes ')===-1){e.className+=' ya-page_js_yes';}s.type='text/javascript';s.async=true;s.charset='utf-8';s.src=(d.location.protocol==='https:'?'https:':'http:')+'//site.yandex.net/v2.0/js/all.js';h.parentNode.insertBefore(s,h);(w[c]||(w[c]=[])).push(function(){Ya.Site.Form.init()})})(window,document,'yandex_site_callbacks');</script>