<div class="row">
    <div class="col-lg-4 col-md-4 text-center">
        <div class="feature">
        	<%= render :partial => 'comparison/optimizations/ratings/group_panel', :locals => {
        		:heading => "Изредка", :group_result_description => group_result_description_by_original_group_id_privacy_and_region(50), 
        	 	:popover_content => "Общая длительность звонков 120 минут",
        	 	:footer => link_to( "Детальные результаты", 
        	 		comparison_optimization_path(hash_with_region_and_privacy({:id => group_result_description_by_original_group_id_privacy_and_region(50)[0][:comparison_optimization_slug]})), 
        	 		{:class => "btn btn-primary", :target => "",
               		 :onclick => set_target("tolko_razgovarivayu")}) } if group_result_description_by_original_group_id_privacy_and_region(50) %>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 text-center">
        <div class="feature">
        	<%= render :partial => 'comparison/optimizations/ratings/group_panel', :locals => {
        		:heading => "Умеренно", :group_result_description => group_result_description_by_original_group_id_privacy_and_region(52), 
        	 	:popover_content => "Общая длительность звонков 600 минут",
        	 	:footer => link_to( "Детальные результаты", 
        	 		comparison_optimization_path(hash_with_region_and_privacy({:id => group_result_description_by_original_group_id_privacy_and_region(52)[0][:comparison_optimization_slug]})), 
        	 		{:class => "btn btn-primary", :target => "",
               		 :onclick => set_target("tolko_razgovarivayu")}) } if group_result_description_by_original_group_id_privacy_and_region(52) %>
        </div>
    </div>
    <div class="col-lg-4 col-md-4 text-center">
        <div class="feature">
        	<%= render :partial => 'comparison/optimizations/ratings/group_panel', :locals => {
        		:heading => "Активно", :group_result_description => group_result_description_by_original_group_id_privacy_and_region(54), 
        	 	:popover_content => "Общая длительность звонков 1500 минут",
        	 	:footer => link_to( "Детальные результаты", 
        	 		comparison_optimization_path(hash_with_region_and_privacy({:id => group_result_description_by_original_group_id_privacy_and_region(54)[0][:comparison_optimization_slug]})), 
        	 		{:class => "btn btn-primary", :target => "",
               		 :onclick => set_target("tolko_razgovarivayu")}) } if group_result_description_by_original_group_id_privacy_and_region(54) %>
        </div>
    </div>
</div>
