
<span class="h2">Наши услуги</span>
<p>На сайте мы поможем вам подобрать оптимальный тариф и тарифные опции. 
   На данный момент мы подбираем оптимальные комбинации по тарифам МТС, Билайн, Мегафон и Теле2, которые доступны для подключения, 
   при подключении тарифа в Москве и Московской области.
</p>
<p>Мы подготовили сравнение тарифов основных операторов. Вы сможете сравнить тарифы как по стоимости пользования, так и по ценам.
   <%= link_to(t(:comparison_optimizations_path), comparison_optimizations_path(hash_with_region_and_privacy)) %>.
</p>

<p>	
   Если Вы хотите, то можете <%= link_to(t(:register), new_user_registration_path, {:rel => "nofollow"}) %> или 
   <%= link_to(t(:login), login_path, {:rel => "nofollow"}) %> на сайт. 
   Это позволит вам повторно получить доступ к полученным вами результатам. 
</p>


<!--
<p>	
   Для получения новостей от нас подпишитесь на наше сообщества в вконтакте и фейсбуке: 
   <%#= render('/application/shared/vk_follow') %>
   <%#= render('/application/shared/facebook_follow') %>
</p>
-->

