
<span class="h2">Our Services</span>
<p>On the site we can help you find the best rates and tariff options.
	At the moment, we select the optimum combination of tariffs for MTS, Beeline, MegaFon and Tele2, which are available for connection,
	for Moscow and the Moscow region.
</p>
<p>We have prepared a comparison of rates of main operators. You will be able to compare prices as the cost of use, or by prices.
   <%= link_to(t(:comparison_optimizations_path), comparison_optimizations_path(hash_with_region_and_privacy)) %>.
</p>

<p>	
   If you want, you can <%= link_to(t(:register), new_user_registration_path, {:rel => "nofollow"}) %> or 
   <%= link_to(t(:login), login_path, {:rel => "nofollow"}) %> to the site.
   This will allow you to re-gain access to your results. 
</p>

<!--
<p>	
   Для получения новостей от нас подпишитесь на наше сообщества в вконтакте и фейсбуке: 
   <%#= render('/application/shared/vk_follow') %>
   <%#= render('/application/shared/facebook_follow') %>
</p>
-->
