
<span class="h2">Описание шагов по подбору тарифа</span>
<p>Подбор состоит из двух частей.</p>
<p>Сначала вам необходимо загрузить вашу историю звонков 
	<%= link_to('загрузить вашу историю звонков', customer_history_parsers_prepare_for_upload_path(hash_with_region_and_privacy)) %>
   (на данный момент доступно только для МТС, Мегафон, Билайн и Теле2)
   или <%= link_to('ее смоделировать', customer_calls_set_calls_generation_params_path(hash_with_region_and_privacy)) %>. 
</p>
<p>
   После этого вы можете <%= link_to('приступить к подбору тарифа', result_detailed_calculations_new_path(hash_with_region_and_privacy)) %>.
</p>   
<p>
   Если хотите, то можете выбрать набор услуг оператора (роуминг, звонки, смс, интернет и т.д.), для которых надо
   подобрать тариф. Это пригодится для подбора тарифов для телефонов с двумя сим-картами. 
</p>
<p>
   Вы также можете посчитать стоимость мобильной связи для выбранных тарифа и тарифных опций.
</p>
<p>С подробным описанием можете ознакомиться <%= link_to 'здесь', home_detailed_description_path(hash_with_region_and_privacy) %></p>


