<% title "Описание сервисов сайта" %>
<% description "Описание сервисов сайта. www.mytarifs.ru — сервис по подбору тарифов и опций для мобильных операторов \
				МТС, «Билайн», «Мегафон», TELE2. Помогаем принять правильное решение! Предлагаем широкий выбор средств \
				для анализа услуг в области мобильной связи." %>
<% keywords "описание сервисов сайта" %>	
<% 
	set_meta_tags(canonical: introduction_after_first_calculations_url(hash_with_region_and_privacy({}, 'personal', 'moskva_i_oblast') )) if 
		introduction_after_first_calculations_path(hash_with_region_and_privacy({:trailing_slash => false}, 'personal', 'moskva_i_oblast') ) != request.path
 %>
<% content_for :hide_title, 'true' %>

<section id="first" >
	<header>
	    <div class="header-content header-content-smaller">
	        <div class="inner">
	            <h1 class="cursive">Описание сервисов сайта</h1>
	            <hr />
	            <div class="h4">На данной странице вы можете коротко ознакомиться с сервисами, которые мы предлагаем.</div>
	            <hr />
	        </div>
	    </div>
	</header>


<span class="h2 margin-top-0 text-default">Подбор выгодных тарифов и опций для мобильной связи</span>
<p>
	 Основная задача сайта это помочь нашим посетителям подобрать наиболее выгодные тариф и тарифные опции для мобильной связи.
	 Для этого мы предлагаем два основных варианта. Первый, простой, это воспользоваться рейтингами операторов и тарифов, которые
	 мы подготовили заранее для нескольких стандартных моделей пользования мобильной связью. Рейтинги позволяют быстро получить
	 ответ, но не для каждого посетителя найдется рейтинг, который учитывает его индивидуальные особенности. Для таких посетителей
	 мы предлагаем второй способ - подобрать оптимальный тариф и опции на основании детализации звонков и их моделирования. Результат
	 подбора тарифа мы представим вам в форме отчета (<%= link_to("пример.", 
	 result_service_sets_report_path(hash_with_region_and_privacy(
	 	{:result_run_id => 17, :service_set_id => Result::ServiceSet.best_service_set(17, m_privacy, m_region).try(:service_set_id)}))) %>)
</p>

<p>
	 На сайте вы можете найти описание тарифов и опций, а также ряд статей о мобильной связи.
</p>

<p>
	 Мы надеямся, что вы воспользуетесь нашими услугами не один раз. Поэтому вы можете сохранять ваши загрузки, моделирования и
	 результаты подборов тарифов для того, чтобы при желании вернуться и изучить их еще раз. Или сравнить с новыми. В меню пользователя
	 (правый верхний угол) вы можете перейти к <%= link_to( "списку загрузок звонков", customer_call_runs_path(hash_with_region_and_privacy)) %> или
	 <%= link_to( "списку результатов подбора тарифов", result_runs_path(hash_with_region_and_privacy)) %>.
</p>
<p>
	 Если вызахотите загрузить или смоделировать звонки, то создайте новую запись (или используйте существующую) в списке загрузке звонков,
	 нажмите на этой записи "загрузить детализацию" или "смоделировать звонки". Вы перейде на страницы, где сможете это сделать.
</p>
<p>
	 Для загруженных детализаций (и смоделированных звонков) доступна статистка звонков (кнопка "статистика звонков") в которой вы можете посмотреть
	 с разной степенью детализации по вашему выбору, как вы пользуетесь мобильной связью. Также вы сможете просмотреть историю своих звонков, нажав кнопку "загруженные звонки"
</p>
<p>
	 После того, как вы загрузили или смоделировали звонки, вы можете подобрать оптимальный тариф и опции для этих звонков, перейдя в "список результатов подбора".
	 Здесь вы также можете создать новую или воспользоваться существующей записью. Если у вас уже есть подобранные рекомендации, то вы можете их посмотреть, нажав на 
	 "рекомендацию", "полные результаты подбора", "сравнение" (здесь вы можете сравнить разные тарифы).
</p>
<p>
	 Для получения нового подбора, зайдите в режиме редактирования в одну из записей, выберите тип подбора, сохраните запись, и нажмите, "подобрать". Вы перейдете
	 на страницу подбора тарифа.
</p>



</section>
