<p>
	С помощью <strong>моделирования истории звонков</strong> вы можете подобрать оптимальный тариф и тарифные опции
	на основании вашей желаемой модели пользования мобильными услугами. 
</p>
<p>
	Подбор тарифа на основании <strong>смоделированной истории звонков</strong> имеет как преимущества, так и недостатки.
	Моделирование истории позволяет имитировать любую желаемую модель использования мобильных услуг, что очень полезно если вы планируете
	использовать мобильные услуги по новому. Нет необходимости получать детализацию звонков у вашего мобильного оператора.
	Этот способ подойдет, если вы не хотите раскрывать свою историю звонков.  
</p>
<p>
	При моделировании звонков невозможно напрямую сравнить ваши текущие затраты на мобильные услуги, с результатами полученными при 
	подборе тарифа. Но если у вас есть такое желание, то вы можете смоделировать звонки так, чтобы они были похожи на ваше текущую историю.
	Не смотря на то, что моделирование имеет широкие возможности, предусмотреть все случаи мы не можем. Также мы считаем, что большое
	количество параметров затрудняет пользование этой услугой. Поэтому мы добавили несколько типичных моделей использования, начиная с
	которых вам будет проще смоделировать звонки.  
</p>
<p>
	Для моделирования звонков перейдите в раздел меню <strong>Подбор тарифов / Моделирование звонков</strong>.
	В закладке <strong>Общие параметры</strong> сначала выберите <strong>вариант использования телефона</strong>, которые облегчит
	задание остальных параметров. Смысл остальных параметров должен быть понятен из их названия. Если это не так, то просим сообщить.
	Доля пребывания означает сколько времени вы проводите в регионе подключения тарифа, в домашнем регионе, путешествую по стране 
	или за границей. Для вашего удобства нет необходимости подбирать доли пребывания, чтобы они в сумме равнялись 100%, мы это сделаем
	за вас. 
</p>
<p>
	Закладка <strong>В своем регионе</strong> предназначена для моделирования звонков, если вы находитесь в регионе подключения тарифа. 
	Закладка <strong>В своем домашнем регионе</strong> предназначена для моделирования звонков, если вы находитесь в домашнем регионе. 
	Закладка <strong>Путешествуя по стране</strong> предназначена для моделирования звонков, если вы находитесь за пределами домашнего региона. 
	Закладка <strong>За границей</strong> предназначена для моделирования звонков, если вы находитесь за границей. 
	Закладка <strong>Свод параметров</strong> позволяет оценить какая модель звонков у вас получится. 
</p>
<p>
	Задавая параметры для каждого варианта роуминга рекомендуем начать с выбора параметра <strong>вариант использования телефона</strong>, который
	индивидуален для каждого региона.
</p>
