<p>
	С помощью <strong>загрузки истории ваших звонков</strong> вы можете подобрать оптимальный тариф и тарифные опции
	на основании вашего исторического пользования мобильными услугами. Для этого вам необходимо получить детализацию
	звонков от вашего мобильного оператора, и загрузить ее к нам на сайт. 
</p>
<p>
	Подбор тарифа на основании <strong>истории ваших звонков</strong> имеет как преимущества, так и недостатки. В отличии от моделирования
	звонков ваша история звонков практически полностью соответствует тому, как вы пользуетесь мобильными услугами. 
	Вы можете напрямую сравнить сколько вы тратите денег на мобильные услуги с полученными при подборе тарифов результатами.
	Детализацию звонков можно достаточно легко получить. Трудности с получением детализации обычно возникают только в первый раз. 
</p>
<p>
	С помощью истории звонков вы не сможете подобрать тариф, если вы планируете изменить ваше стандартное использование
	мобильными услугами. Детализации звонков, предоставляемые мобильными операторами, не всегда содержат все необходимые данные
	для правильного анализа услуги. Так как в публичном доступе нет полноценного описания как формируются детализации звонков, то
	наш анализ истории звонков может быть не полон или не правилен. На данный момент мы предлагаем подбор тарифа на основании детализаций звонков
	для МТС и Мегафон в формате HTML, МТС и Билайн в формате XLS или XLSX. Теле2 в формате PDF.
</p>
<p>
	Для получения <strong>детализации МТС</strong> надо зайти в личный кабинет на сайте оператора <%= link_to "www.mts.ru", "#", {:class => "external-link", "data-link" => "http://www.mts.ru", :rel => "nofollow"} %>, 
	перейти в раздел <strong>контроль расходов</strong>, выбрать опцию <strong>детализация разговоров</strong>, и далее следовать инструкциям.
	При формировании запроса на получение детализации разговоров необходимо выбрать период и формат. Формат для МТС должен быть HTML или XLS или XLSX.
	Так как мы можем анализировать файлы размером не более 1 Мб, то рекомендуем получать детализации не более чем на три месяца. 
</p>
<p>
	Для получения <strong>детализации Мегафона</strong> надо зайти в личный кабинет на сайте оператора <%= link_to "www.megafon.ru", "#", {:class => "external-link", "data-link" => "http://www.megafon.ru", :rel => "nofollow"} %>, 
	перейти в раздел <strong>контроль расходов</strong>, выбрать опцию <strong>детализация разговоров</strong>, и далее следовать инструкциям.
	При формировании запроса на получение детализации разговоров необходимо выбрать период и формат. Формат для Мегафона должен быть HTML.
	Так как мы можем анализировать файлы размером не более 1 Мб, то рекомендуем получать детализации не более чем на три месяца. 
</p>
<p>
	Для получения <strong>детализации Билайн</strong> надо зайти в личный кабинет на сайте оператора <%= link_to "www.beeline.ru", "#", {:class => "external-link", "data-link" => "http://www.beeline.ru", :rel => "nofollow"} %>, 
	перейти в раздел <strong>финансы и детализация</strong>, выбрать опцию <strong>история расходов</strong>, и далее следовать инструкциям.
	При формировании запроса на получение детализации разговоров необходимо выбрать период и формат. Формат для Билайн должен быть XLS или XLSX.
	Так как мы можем анализировать файлы размером не более 1 Мб, то рекомендуем получать детализации не более чем на три месяца. 
</p>
<p>
	После получения детализации звонков перейдите в раздел меню <strong>Подбор тарифов / Загрузка истории звонков</strong> нашего сайта.
	Выберите вашего мобильного оператора, ваш регион, начальный месяц и год для загрузки детализации (если у вас детализация на несколько месяцев).
	После этого выберите файл с вашей детализацией разговоров, нажав на кнопку <strong>Выберите файл</strong> и нажмите 
	<strong>Загрузить историю звонков</strong>. Анализ файла занимает некоторое время.
	Если что-то пошло не так, то вы должны увидеть сообщения об ошибке, которую вам или нам надо исправить.
</p>
<p>
	Результаты анализа деляться на три категории:
	В закладке <strong>Успешные</strong> собраны записи, которые будут использованы для подбора тарифа. 
	В закладке <strong>Ошибки</strong> собраны записи, которые мы не смогли обработать. 
	В закладке <strong>Пропущенные</strong> собраны записи, которые мы не считаем нужными для обработки. 
	Если вы посчитаете, что анализ сделан не правильно, то просим вас сообщить нам об этом написав письмо.
</p>
