<p>
    После того, как вы загрузили историю звонков или смоделировали ее, вы можете приступить к подбору тарифа. Для это перейдите 
    в раздел меню <strong>Подбор тарифов / Подбор тарифов</strong>. 
</p>
<p>
    Выберите период, на основании которого вы хотите подобрать тариф.
    Если вы хотите подбирать тариф по всем услугам мобильных операторов, то в поле <strong>Считать только выбранные направления связи</strong> 
    выберите значение "Считать все направления связи".
</p>
<p>    
    Если вы хотите подбирать тариф только по выбранным услугам мобильных операторов, то в поле <strong>Считать только выбранные направления связи</strong> 
    выберите значение "Считать только выбранные услуги связи", и перейдите на закладку <strong>Выбор услуг оператора</strong>.
    В первую очередь выберите виды роуминга для которых надо подбирать тарифы. Домашний роуминг включает регион подключения.
    После этого для каждого выбранного роуминга выберите сервисы, которые вы хотите оптимизировать (Исходящие СМС, Исходящие ММС, Интернет,
    Входящие звонки, Исходящие звонки). Дополнительно, вы можете детализировать, в каких исходящих звонках вы заинтересованы (в домашний регион,
    на выбранного вами мобильного оператора, за пределы домашнего региона (по стране), или за границу). Если у вас возникнет необходимость в
    выборе услуг по другим критериям, то можете нам написать ваше предложение.
</p>
<p>    
    Также вы можете расчитать стоимость для выбранных тарифа и тарифных опций. Для этого в поле <strong>Считать только выбранные тариф и тарифные опции</strong> 
    выберите значение "Считать только выбранный тариф и опции", и перейдите на закладку <strong>Выбор тарифа и набора опций для расчета</strong>.
    Здесь вы должны выбрать оператора, тариф, а также тарифные опции для которых вы хотите расчитать стоимость использования для вашего набора звонков. 
    Для выбора нескольких тарифных опций удерживайте клавишу <strong>ctrl</strong> нажатой.
</p>
