<p>
    Вы можете поддержать наш проект.
</p>
<p>    
    Для перевод средств перейдите по закладке <strong>Помощь / Перевод средств</strong>, где выберите сумму для перевода (не может быть меньше
    100 рублей), способ оплаты: Яндекс.Деньги или банковской карточкой, и нажмите кнопку <strong>Перевести</strong>.
    После этого вы перейдете на сайт яндекс.money, который и будет осуществлять перевод. Обращаем внимание, что мы не имеем никакого
    отношения к переводу денег, и не получаем никаких ваших данных от яндекс.money (например, номер счета и тому подобное).
    Если вы предпочитаете другие способы оплаты, то сообщите нам об этом, и мы постараемся добавить удобные для вас способы оплаты.
</p>
<p>    
    После совершения перевода yandex.money должно подтвердить нам, что вы совершили оплату. Получив подтверждение, мы
    сообщим вам об этом электронным письмом. Если этого не произошло, обязательно сообщите нам.
</p>
