<p>
    Результаты подбора тарифов вы можете посмотреть в разделе меню <strong>Подбор тарифов / Результаты подбора тарифов</strong>. 
</p>
<p>
    Таблица содержит список всех доступных для подключения тарифов для МТС, Билайн и Мегафон, с оптимальным набором тарифных опций. 
    <strong>Общие услуги</strong> включают в себя бесплатные опции, которые или подключаются автоматически, или могут быть подключены бесплатно. 
    <strong>Тарифные опции</strong> содержат список опций, которые позволяют уменьшить стоимость услуг. 
    <strong>Взаимозаменяемые опции</strong> могут содержать список таких тарифных опций, использование которых
    приводит к одинаковой общей стоимости. Для получения детальной информации нажмите на строчку с тарифом,
    которые вы хотите изучить детальнее, на значок перехода в левом столбце.
</p>
<p>
	 Детальные затраты можно посмотреть или в разрезе только мобильных услуг, или с детализацией по тарифу и опциям. Для выбора нажимите 
	 <strong>Показать агрегированные значения по мобильным услугам? </strong>.
</p>
<p>
    Таблица с тарифом или опцииями содержит данные по затратам в их разрезе.
</p>
<p>
    Таблица по отдельным услугам показывает затраты в разрезе услуг. 
    <strong>Тип роуминга</strong> означает ваше географическое местоположение в момент пользования услугой
    <strong>География услуги</strong> означает куда (или от куда) вы звоните или посылаете смс/ммс.
    <strong>Тип принимающего оператора</strong> может быть свой оператор, не свой оператор, или оператор фиксированной связи. 
    Если какое-то поле пустое, то это означает, что оно не важно для оценки стоимости данной услуги.
</p>
<p>
    Во всех таблицах есть поля <strong>Кол-во минут</strong>, <strong>Кол-во смс/ммс</strong>, <strong>Объем интернета</strong>. Данные
    этих полей считаются простым суммированием по всем записям, попадающим в нужную категории. Эти цифры могут отличаться от значений, 
    которые используются для расчета стоимости услуг так как операторы используют достаточно изобретательные способы тарификации. Поэтому
    рекомендуем использовать эти цифры, только как оценку объемов вашего потребления услуг. При оценки стоимости услуг мы по возможности всегда
    использовали способ тарификации, аналогичный способу, который использует оператор.
</p>
<p>
	 На вкладке <strong>Статистика услуг</strong> собраны данные по услугам, на основании которого мы делали расчеты. 
	 Вы можете посмотреть статистику в любом нужном вам варианте с помощью фильтров вверху таблицы.
</p>
