<% title 'Edit Program' %>

<p>
	<%	link_to_html = {:class => "btn btn-link", :type => 'button'} %>
</p>

<%= render :partial => 'form', :layout => 'application/layouts/model_form_for_three_column', 
	:locals => {:form_item => controller.program_form, :url => cpanet_program_path(program) } %>


