<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>
  <body>
	<div id="container " class="container-fluid">
        <div class="row">
            <div class="">
            	<div class="col-xs-1 col-sm-1 col-md-1"></div>
                <div class="col-xs-10 col-sm-10 col-md-10 ">
                	<h3 class="text-center text-default">Уважаемый пользователь мобильной связи!</h3>
		            <hr />
		            <div class="text-justify">
			            <p>&emsp;
			            	Разрешите представиться, меня зовут Александр, и я являюсь пользователем мобильной связи с 20-летним стажем. 
			            	Несмотря на весь мой опыт, я и моя семья продолжает иногда получать неприятные сюрпризы от мобильных операторов. 
			            	Иногда кажется, что мы на войне с мобильными операторами: мы изучаем их приемы, а они придумывают новые.
			            </p>
			            <p>&emsp;
			            	Представляю вашему внимание новое надежное оружие защиты потребителей мобильных связи от 
			            	мобильных операторов!
			            </p>
			            <p>&emsp;
			            	Вы когда-нибудь пытались разобраться во всех тонкостях тарифов и опций? 
			            	Я недавно посчитал, что общее количество вариантов тарифов и опций четырех федеральных операторов равно 54 миллионам. 
			            	А каждый тариф или опция у оператора описывается в среднем с помощью одной тысячи правил. 
			            	Понять, какого оператора, какой тариф и опции выбрать без специальной программы физически невозможно.
			            </p>
			            <p>&emsp;
			            	Три года назад мы с моим братом решили разобраться с этой проблемой и написали программу, 
			            	которая подбирает выгодный тариф и набор опций, исходя из детализации звонков, полученной от мобильного оператора. 
			            	Если детализации нет, то ее можно смоделировать самому. Мы пользуемся программой уже два года и, 
			            	несмотря на то, что мобильные операторы постоянно обновляют и меняют тарифы и опции, 
			            	у нас есть уверенность в правильности и выгодности для нас выбора услуг операторов.
			            </p>
			            <p>&emsp;
			            	Понимая полезность такого сервиса, мы создали сайт, где вы можете проверить, не переплачиваете ли вы за мобильную связь. 
			            	За пару минут мы порекомендуем вам самый выгодный тариф и опции, среди всех операторов, или только вашего. 
			            	Наша услуга пока бесплатна для пользователей сайта. 
			            </p>
			            <p>&emsp;
			            	На сайте вы также найдете рейтинги операторов и тарифов, детальное и полное описание тарифов без мелкого шрифта. 
			            	У нас есть возможность самостоятельно сравнить условия и цены различных тарифов, а также интересные и полезный статьи на тему мобильной связи. 
			            	Приглашаю Вас посетить наш сайт и воспользоваться нашими услугами.
			            </p>
	                	<p class="text-center">
							<%= link_to("Перейти на сайт и получить рекомендацию по выбору тарифа и опций", "http://www.mytarifs.ru/home/welcome/1", 
								{:class => "text-center btn btn-success btn_text_always_on_screen", :type =>"button"}) %>
	                	</p>
			            <p>
			            	С уважением,<br />
			            	Александр,<br />
			            	Создатель сервиса по подбору оптимальных тарифов и опций,<br />
			            	<%= link_to "www.mytarifs.ru", "http://www.mytarifs.ru" %>
			            </p>
		            </div>
					
					
                	<br />
                </div>
                <div class="col-xs-1 col-sm-1 col-md-1"></div>
            </div>
        </div>
	</div>  	
  </body>
</html>
