<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Кто-то потребовал ссылку на смену вашего пароля. Вы можете сделать это с помощью ссылки ниже.</p>

<p><%= link_to 'Сменить пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы не запрашивали этого, то не обращайте внимание на это письмо.</p>
<p>Ваш пароль не будет изменен до тех пор пока вы не нажмете на ссылку выше и создатите новый.</p>
