<ul class="dropdown-menu">
	<li><%= link_to("Детальный подбор тарифов", result_detailed_calculations_new_path(hash_with_region_and_privacy)) %></li>
	<li><%= link_to('Калькулятор тарифов мобильной связи', comparison_fast_optimizations_path(hash_with_region_and_privacy)) %></li>
	<li><%= link_to("Калькулятор тарифов для планшета", comparison_fast_optimizations_for_planshet_path(hash_with_region_and_privacy({:name => 'dlya_plansheta'}))) %></li>
	<% Category::Operator.operators_with_tarifs.find_each do |operator| %>
		<li><%= link_to("Тарифный калькулятор #{operator.name}", comparison_fast_optimizations_by_operator_path(hash_with_region_and_privacy({:operator_id => operator}))) %></li>
	<% end %>
</ul>
