<ul class="dropdown-menu">
	<li><%= link_to('Сравнение тарифов', compare_tarifs_path(hash_with_region_and_privacy)) %></li>
	<li><%= link_to("Сравнение тарифов для планшета", compare_tarifs_for_planshet_path(hash_with_region_and_privacy({:name => 'dlya_plansheta'}))) %></li>
	<% Category::Operator.operators_with_tarifs.find_each do |operator| %>
		<li><%= link_to("Сравнение тарифов #{operator.name}", compare_tarifs_by_operator_path(hash_with_region_and_privacy({:operator_id => operator}))) %></li>
	<% end %>
</ul>
