<p> Выбор тарифа Мегафон всегда является непростым делом. Огромное разнообразие тарифных предложений, порой, способно загнать абонента в тупик. Наш сайт создан для того, чтобы избавить вас от таких трудностей. </p>
<p> Выполнив несколько простых действий, вы сумеете подобрать тариф Мегафон, который будет наиболее выгоден именно для вас! </p>
<p> В настоящее время на сайте представлена полная база предложений оператора, включая самые новые. В специальной таблице следует ввести объем желаемых бесплатных минут, количество текстовых сообщений и объем Интернет-трафика. После этого система автоматически найдет тарифный план, наиболее полно удовлетворяющий заданным условиям. </p>

<%= image_tag("megafon_with_name.png", alt: "Мегафон", class: "center-block img-responsive", style: ";") %>

<p> Выбрать тариф Мегафон могут абсолютно все желающие. У нас найдутся выгодные решения как для физических лиц, так и корпоративных клиентов. При возникновении трудностей, наши консультанты незамедлительно придут к вам на помощь и помогут с их решением. </p>