<p> На этой странице наш ресурс предлагает вам подобрать тариф МТС под конкретные нужды. В нашей базе представлены все существующие на сегодня тарифные предложения с детальным описанием. Среди них тарифные планы и услуги для связи в домашнем регионе, роуминге по стране и заграницей, а также пользования мобильным Интернетом. </p>
<p> Чтобы было проще выбрать тариф от МТС, на сайте функционирует тарифный калькулятор, который позволяет самостоятельно задать желаемый объем бесплатных минут, Интернет-трафика и SMS. </p>

<%= image_tag("mts_with_name.png", alt: "МТС", class: "center-block img-responsive", style: ";") %>

<p> Если у вас в силу каких-либо обстоятельств не получается самостоятельно подобрать тарифный план МТС, тогда обращайтесь за помощью к нашим операторам. У нас обязательно найдется предложение как для физических, так и юридических лиц. </p>
<p> Знакомство в сервисом MyTarifs не займет много времени, при этом вы в разы снизите свои расходы при звонках внутри сети, на номера других операторов и за пределы Российской Федерации. </p>
