<p> Наш сайт предлагает вам сэкономить на услугах связи и подобрать тариф ТЕЛЕ 2 индивидуально под ваши потребности. Данная процедура не займет много времени. Дополнительным плюсом является и то, что вам не потребуется держать в голове ненужную информацию, изучая описание к каждому тарифу. </p>
<p> Чтобы выбрать тариф TELE2, предлагаем воспользоваться тарифным калькулятором на сайте. С его помощью можно задать желаемый пакет услуг, входящих в стоимость тарифа. В частности, вы сможете установить лимит бесплатных минут, текстовых сообщений и Интернет-трафика.
<p> В базе собраны все существующие на сегодня тарифные планы. Благодаря этому приобрести стартовый пакет сумеют как физические лица, так и корпоративные клиенты, нуждающиеся в безлимитном общении. </p>

<%= image_tag("tele2_with_name.png", alt: "TELE2", class: "center-block img-responsive", style: ";") %>

<p> В любое удобное для себя время вы можете подобрать тариф ТЕЛЕ2 для звонков в национальном и международном роуминге, общения посредством СМС или неограниченного доступа к Интернету. Для экономии, многие тарифные пакеты TELE2 предлагают своим абонентам подключение дополнительных опций. </p>
<p> Если у вас возникнут вопросы по работе сервиса, служба тех. поддержки готова оказать оперативную информационную поддержку. </p>
